.navbar {
  background: rgb(17, 10, 59);
  background: linear-gradient(
    90deg,
    rgba(17, 10, 59, 1) 0%,
    rgba(29, 43, 253, 1) 50%,
    rgba(69, 206, 252, 1) 97%
  );
}
.list-group-item {
  background-color: transparent;
  border: none;
}
#ap {
  width: 20%;
  height: 20%;
}
.fa-instagram:hover {
  color: rgb(219, 45, 14);
}
.fa-telegram:hover {
  color: blue;
}
.fa-github:hover {
  color: green;
}
.fa-at:hover {
  color: rgb(223, 130, 9);
}

/* .redes {
  list-style-type: none;
} */
