body {
  display: flex;
  align-content: center;
  justify-content: center;
}
h2 {
  color: blue;
  background: gray;
  height: 60px;
  display: block;

  width: 100px;
}
.contenedor {
  background: rgb(243, 210, 210);
  display: block;
  width: 800px;
}
.titulo {
  display: block;
}
.activo {
  background: red;
}
